<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
 
<!--   не забываем заранее загружать наши фильтры! -->

<!-- Название NEWS -->
{% block title %}
    Задание модуля D3
{% endblock title %}

{% block content %}
    <div style="text-align: left; margin-left: auto;">    
        <br>
        <h3>Задание:</h3>
        <hr>
        <ol>
            <li>Создать новую страничку с адресом /news/, на которой должен выводиться список всех новостей.</li>
            <li>Все статьи выведены в виде заголовка, даты публикации и первых 20 символов текста статьи.<br>
                Новости должны выводиться в порядке от более свежей до самой старой. Отображается всё по адресу /news/.</li>
            <li>Сделать отдельную страницу для полной информации о статье /news/<id новости>. На этой странице должна быть вся информация о статье. Название, текст и дата загрузки в формате ДЕНЬ-МЕСЯЦ-ГОД.</li>
            <li>Написать собственный фильтр Censor, который цензурирует нежелательную лексику в названиях и текстах статей.</li>
            <li>Все новые странички должны быть частью основного шаблона default.html.</li>
        </ol>   
        <hr>    
    </div>
    
{% endblock content %}