<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
 
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название NEWS -->
{% block title %}
    Все новости
{% endblock title %}
 
<!-- В контенте на странице мы выводим саму статью, айди которой было передано в адрес -->
{% block content %}
<br>
    <h3> Всего статей: {{ news|length }} </h3>
    <hr>

    {% if news %} <!-- Выводим статьи только, если они есть, с помощью тега if -->
        <table>
            <tr>
                <td><strong>Заголовок</strong></td>
                <td><strong>Дата публикации</strong></td>
                <td><strong>Статья</strong></td>
            </tr>

        {% for new in news %} <!-- Для каждой статьи будет генерироваться новая строчка, 
            т.е. новый html код. При этом сам цикл работает точно так же, как и в python. 
            new — переменная цикла, т.е. наша статья, взятая из общего списка -->
            <tr>
                <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. 
                    Здесь так же можно получать доступ к полям класса. 
                    Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->

                <td><a href="{{ new.pk }}"> {{ new.title|censor }}</a> </td> <!-- используем собственый фильтр censor -->
                    
                <td> {{ new.dateCreation|date:'d M Y' }} </td>
                
                <td> {{ new.text|censor|truncatechars:20 }} </td> <!-- используем собственый фильтр censor и дописываем специальный фильтр,
                    чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
            </tr>
        {% endfor %}
        </table>

    {% else %} <!-- Если статей нет, то говорим что статей нет ;) -->
        <h2>Статей нет!</h2>
    {% endif %}

{% endblock content %}
