<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
 
<!--   не забываем заранее загружать наши фильтры! -->

<!-- Название NEWS -->
{% block title %}
    Задание модуля D4
{% endblock title %}

{% block content %}
    <div style="text-align: left; margin-left: auto;">    
        <br>
        <h3>Задание:</h3>
        <hr>
        <ol>
            <li>Усовершенствовать ваш новостной портал. Добавить постраничный вывод и отдельную страницу с поиском /search/, чтобы пользователь мог сортировать новости по дате и имени автора.</li>
            <li>Необходимо иметь возможность создавать новые новости и статьи не только из админки, но и в самом приложении. Для такой возможности необходимо создать модельные формы.</li>
            <li>Необходимо добавить на сайт с помощью дженериков новые страницы /news/add/, а также /news/<int:pk>/edit/. На этих страницах пользователь может добавить или редактировать новости.</li>
            <li>Добавьте страницу удаления новостей /news/<int:pk>/delete/. На ней после подтверждения пользователь может удалить страницу с новостью.</li>
        </ol>      
        <hr>    
    </div>
    
{% endblock content %}